<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
<body>
<div th:insert="menu.html :: div"></div>
<h3>All Details Are Below</h3><br>
<div><h4>Most Wanted Destination:</h4></div>
<span th:text="${mostWanted}"></span>
<br>
<br>
<div><h4>Customers Without Trip</h4></div>
<table border="2">
    <tr>
        <th>Lp.</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Passport Number</th>
    </tr>
    <tbody>
    <tr th:each="customer : ${customersWithoutTrip}">
        <td th:text="${customer.id}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.passportNumber}"></td>
    </tr>
    </tbody>
</table>
<br>
<div><h3>Details About Price Of All Trip</h3></div>

<div><h4>AVG Price of Trip</h4></div>
<table border="2">
    <tr>
        <th>Lp.</th>
        <th>Destination</th>
        <th>Average Price</th>
    </tr>
    <tbody>
    <tr th:each="trip : ${avgPrice}">
    <td th:text="${trip.id}"></td>
    <td th:text="${trip.destination}"></td>
    <td th:text="${trip.price}"></td>
    </tr>
    </tbody>
</table>
<br>
<div><h4>SUM Price of Trip</h4></div>
<table border="2">
    <tr>
        <th>Number of trips</th>
        <th>Destination</th>
        <th>Sum of Price</th>
    </tr>
    <tbody>
    <tr th:each="trip : ${sumPrice}">
        <td th:text="${trip.id}"></td>
        <td th:text="${trip.destination}"></td>
        <td th:text="${trip.price}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>