<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>Add new customer</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
<body>
<div th:insert="menu.html :: div"></div>
<form class="login-form" method="post" th:object="${customer}">
    <h1 class="title login-element">New Customer</h1>
    <div class="text login-element">Name:</div>
    <input class=" input login-element" type="text" name="firstName">
    <div class="text login-element">Last Name:</div>
    <input class="input login-element" type="text" name="lastName">
    <div class="text login-element">Passport Number:</div>
    <input class="input login-element" type="text" name="passportNumber">
    <div th:if="${#fields.hasAnyErrors()}">
        <ul>
            <div th:each="err : ${#fields.allErrors()}" th:text="${err}" class="error"/>
        </ul>
    </div>
    <p>
        <input class="button login-element" type="submit" name="submit" value="Save">
    </p>
</form>
    <th:errors path="*" text="error"/>
</body>
</html>