<!DOCTYPE html>
<html lang="en" xmlns:th>
<head>
    <meta charset="UTF-8">
    <title>All Customers</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
<body>
<div th:insert="menu.html :: div"></div>
<br>
<h2 class="">Database of all customers</h2>
<br>
<table border="2" color="blue">

    <tr>
        <th>Lp.</th>
        <th>Name</th>
        <th>Last Name</th>
        <th>Passport Number</th>
        <th>Action</th>

    </tr>
    <tbody>


    <tr th:each="customer : ${customers}">
        <td th:text="${customerStat.count}"></td>
        <td th:text="${customer.firstName}"></td>
        <td th:text="${customer.lastName}"></td>
        <td th:text="${customer.passportNumber}"></td>
        <td class="trip-image">
            <div><a class="button" th:href="'/addCustomer/edit/' + ${customer.id}">Edit Customer</a></div>
            <div><a class="button" th:href="'/addCustomer/delete/' + ${customer.id}">Delete Customer</a></div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>