<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit your customer</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
<body>
<div th:insert="menu.html :: div"></div>

<form class="login-form" action="/addCustomer/edit" method="post" th:object="${customer}">
    <h1 class="title login-element">Edit Customer</h1>
    <input type="hidden" name="id" th:value="*{id}">
    <div class="text login-element">New Name:</div>
    <input class=" input login-element" type="text" name="firstName" th:value="*{firstName}">
    <div class="text login-element">New Last Name:</div>
    <input class="input login-element" type="text" name="lastName" th:value="*{lastName}">
    <div class="text login-element">New Passport Number:</div>
    <input class="input login-element" type="text" name="passportNumber" th:value="*{passportNumber}">
    <p>
        <input class="button login-element" type="submit" name="submit" value="Edit">
    </p>
</form>

</body>
</html>