<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Find trip for you</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">

</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="trip-image">
    <button class="button">Prev</button>
    <ul>
        <li><img src="images/czechy-praga.jpg">
            <p>Kierunek: Czechy, Praga</p>
            <p>Praga to jedno z najstarszych i najpiększniejszych miast Europy. Koniecznie zobacz most Karola</p>
            <p>Rezerwuj</p>
        </li>
        <li><img src="images/egipt-giza.jpg">
            <p>Kierunek: Egipt, Giza</p>
            <p>Zwiedzaj kraj Faraonów i zrób sobie zdjęcie z tajemniczym sfinksem</p>
            <p>Rezerwuj</p>
        </li>
        <li><img src="images/hiszpania-barcelona.jpeg">
            <p>Kierunek: Hiszpania, Barcelona</p>
            <p>Południowy klimata i piękne plaże Morza Śródziemnego. Koniecznie zobacz jedną z najłynniejszych katedr
                Europy.</p>
            <p>Rezerwuj</p>
        </li>
        <li><img src="images/turcja-istambul.jpg">
            <p>Kierunek: Turcja, Konstntynopol</p>
            <p>Dawana stolica Wschodniego Rzymu. Niezwykła Hagia Sophia do dzisiaj intryguje swoim rozmachem.</p>
            <p>Rezerwuj</p>
        </li>
        <li><img src="images/wlochy-rzym.jpg">
            <p>Kierunek: Włochy, Rzym</p>
            <p>Wszystkie drogi prowadzą do Rzymu. Zobacz Koloseum i Forum Romanum.</p>
            <p>Rezerwuj</p>

        </li>
        <li><img src="images/bulgaria-sun.jpg">
            <p>Kierunek: Bułgaria, Słoneczny Brzeg</p>
            <p>Słoneczny Brzeg to najbardziej znany kurort w Bułgarii. Poznaj najtańszą riwierą Europy</p>
            <p>Rezerwuj</p>
        </li>
    </ul>
    <button class="button">Next</button>
</div>


</body>
</html>