<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Find trip for you</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <script src="/js/tripSelect.js"></script>

</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="trip-image">
    <button class="button" id="prevButton">Prev</button>
    <ul class="slider" id="slider1" >
        <li th:each="trip:${trip}"><img th:src="${trip.images}">
            <p th:text="'Destination: ' + ${trip.destination}"></p>
            <p th:text="${trip.description}"></p>
            <p><a th:href="'/addTrip/addDestination/' + ${trip.tripId}">Book your trip</a></p>
        </li>
    </ul>
    <button class="button" id="nextButton">Next</button>
</div>


</body>
</html>
