<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Find trip for you</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <script src="/js/tripSelect.js"></script>

</head>
<body>
<div th:insert="menu.html :: div"></div>

<div class="trip-image">
    <button class="button" id="prevButton">Prev</button>
    <ul class="slider" id="slider1">
        <li><img src="images/czech-prague.jpg">
            <p>Kierunek: Czechy, Praga</p>
            <p>Praga to jedno z najstarszych i najpiększniejszych miast Europy. Koniecznie zobacz most Karola.</p>
            <p><a href="/addTrip/Czech">Rezerwuj</a></p>
        </li>
        <li><img src="images/egypt-giza.jpg">
            <p>Kierunek: Egipt, Giza</p>
            <p>Zwiedzaj kraj Faraonów i zrób sobie zdjęcie z tajemniczym sfinksem.</p>
            <p><a href="/addTrip/Egypt">Rezerwuj</a></p>
        </li>
        <li><img src="images/spain-barcelona.jpeg">
            <p>Kierunek: Hiszpania, Barcelona</p>
            <p>Południowy klimata i piękne plaże Morza Śródziemnego. Koniecznie zobacz jedną z najłynniejszych katedr
                Europy.</p>
            <p><a href="/addTrip/Spain">Rezerwuj</a></p>

        </li>
        <li><img src="images/turkey-istambul.jpg">
            <p>Kierunek: Turcja, Konstntynopol</p>
            <p>Dawana stolica Wschodniego Rzymu. Niezwykła Hagia Sophia do dzisiaj intryguje swoim rozmachem.</p>
            <p><a href="/addTrip/Turkey">Rezerwuj</a></p>

        </li>
        <li><img src="images/italy-rome.jpg">
            <p>Kierunek: Włochy, Rzym</p>
            <p>Wszystkie drogi prowadzą do Rzymu. Zobacz Koloseum i Forum Romanum.</p>
            <p><a href="/addTrip/Italy">Rezerwuj</a></p>


        </li>
        <li><img src="images/bulgaria-sun.jpg">
            <p>Kierunek: Bułgaria, Słoneczny Brzeg</p>
            <p>Słoneczny Brzeg to najbardziej znany kurort w Bułgarii. Poznaj najtańszą riwierą Europy.</p>
            <p><a href="/addTrip/Bulgaria">Rezerwuj</a></p>

        </li>
    </ul>
    <button class="button" id="nextButton">Next</button>
</div>


</body>
</html>
