<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Destination</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
</head>
<body>
<div th:insert="menu.html :: div"></div>
<form class="login-form" action="/addTrip/addDestination" method="post" th:object="${customer}">
    <h1 class="title login-element">Book your trip</h1>
    <div class="text login-element" th:text="'Destination: ' + ${trip.destination}"></div>
    <input class=" input login-element" type="hidden" name="trip.destination" th:value="${trip.destination}">
    <br>
    <div class="text login-element">Select date of trip</div>
    <select class="text login-element" type="date" name="tripDate.startDate">
        <option th:each="date: ${date}"
                th:value="${date.id}"
                th:text="${date.startDate} +' - '+ ${date.endDate}">
        </option>
    </select>
<!--    <div class="text login-element" th:text=""></div>-->
<!--    <input  th:value="${trip.conductorId}" th:text="${trip.conductor.fullName}" type="">-->
    <div class="text login-element" th:text="'Price: ' + ${trip.price} +'$ /person'"></div>
    <input class=" input login-element" type="hidden" name="customer.price" th:value="${trip.price}">
    <br>
    <div class="text login-element">Add Customer</div>
    <select class="text login-element" type="text" name="customer.customerId">
        <option th:each="customer: ${customer}"
                th:value="${customer.id}"
                th:text="${customer.firstName} + ' ' + ${customer.lastName} + ' '+ ${customer.passportNumber}"></option>
    </select>
    <th:errors path="*" />
    <p>
        <input class="button login-element" type="submit" name="submit" value="Booked">
    </p>
</form>
</body>
</html>