<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add Destination</title>
    <link rel="stylesheet" type="text/css" href="/css/menu.css">
    <script src="/js/changePrice.js"></script>
</head>
<body>
<div th:insert="menu.html :: div"></div>
<form class="login-form" method="post" th:object="${customerTrips}">
    <h1 class="title login-element">Book your trip</h1>
        <input class=" input login-element" type="hidden" th:value="${trip.id}" name="trip">
    <div class="text login-element" th:text="'Destination: ' + ${trip.destination}"></div>
    <br>
    <div class="text login-element">Select date of trip</div>
    <select class="text login-element" type="date" name="tripDate">
        <option th:each="date: ${date}"
                th:value="${date.id}"
                th:text="${date.startDate} +' - '+ ${date.endDate}">
        </option>
    </select>
        <div class="text login-element" th:text="'Your conductor is: ' + ${conductor.fullName}"></div>
        <input  class=" input login-element" th:value="${conductor.id}"  type="hidden" name="conductor">
    <div class="text login-element" th:text="'Suggested Price: ' + ${trip.price} +'$ /person'"></div>
    <input class=" input login-element" type="hidden" name="price" th:value="${trip.price}" id="price">
    <button class="button login-element" value="Change Price" type="button" id="changePrice">Change Price</button>
    <br>
    <div class="text login-element">Add Customer</div>
    <select class="text login-element" type="text" name="customer">
        <option th:each="customer: ${customer}"
                th:value="${customer.id}"
                th:text="${customer.firstName} + ' ' + ${customer.lastName} + ' '+ ${customer.passportNumber}"></option>
    </select>
    <p>
        <input class="button login-element" type="submit" name="submit" value="Booked">
    </p>
</form>
</body>
</html>